<%- include('../../_layouts/header3.ejs') %>
<%- include('../../toast.ejs') %>

<section class="tutorials">
<div class="containerHomeMan">
<%- include('../../_layouts/head.ejs') %>
<div class="accountsCon">
    <div id="header2">
        <nav>
            <div class="container3 text-3xl font-bold">
                <div class="text-center">
                    <a href="/manufacturer/drugstorage" class="nav-brand text-dark">Check Drug Storage From Here</a>
                </div>
            </div>
        </nav>
    </div>
    
    <div id="site-main">
        <div class="ml-10 container4">
            <div class="box-nav d-flex justify-between">
                <a href="/manufacturer/drugstorage/upload" class="border-shadow">
                    <span class="text-gradient">Add New Production<i class="fas fa-user"></i></span>
                </a>
            </div>
    
            <!-- form handling -->
            <form class="py-8" action="/admin/drugstorage" method="POST">
                <table class="table addUser accounts">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>ID for Buyers</th>
                            <th>DB ID</th>
                            <th>Drug Category</th>
                            <th>Drug Name</th>
                            <th>Production ID</th>
                            <th>Batch Number</th>
                            <th>DAR Number</th>
                            <th>Production</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                      <%- include('../drugStoreInclude/dsTable.ejs') %>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<%- include('../../_layouts/sidebar.ejs') %>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>