<%- include('../_layouts/header3.ejs') %>
<%- include('../toast.ejs') %>

<section class="tutorials">
<div class="containerHomeMan">
<%- include('../_layouts/head.ejs') %>
<div class="ml-5 accountsCon mt-10">
    <h1 class="font-bold md:text-xl">Transactions of Depot In-charge</h1>
    <div id="site-main">
        <div class="container4">
            <!-- form handling -->
            <div class="transactionTable mr-5">
                <table class="table">
                    
                    <thead class="thead-dark mt-2">
                        <tr>
                            <th>Block Hash</th>
                            <th>Order ID</th>
                            <th>Order Status</th>
                            <th>DAR</th>
                            <th>Production ID</th>
                            <th>Order Role</th>
                            <th> Block Number</th>
                            <th> Gas Used</th>
                            <th> To</th>
                            <th>Depot In-Charge ID</th>
                            <th>Transaction Hash</th>
                            <th> Type</th>
                            <th> Time</th>
                            <th> Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(transactions.length) { %>
                            <% transactions.forEach((transaction)=>{ %>
                                <tr>
                                    <td>
                                      <%= transaction.blockHash %>
                                   </td>
                                   <td >
                                    <%= transaction.orderID._id %>
                                 </td>
                                 <td >
                                    <%= transaction.orderID.status %>
                                 </td>
                                 <td >
                                    <%= transaction.orderID.dar %>
                                 </td>
                                 <td >
                                    <%= transaction.orderID.proId %>
                                 </td>
                                 <td >
                                    <%= transaction.orderID.role %>
                                 </td>
                                   <td>
                                    <%= transaction.blockNumber %>
                                   </td>
                                    <td>
                                        <%= transaction.gasUsed %>
                                    </td>
                                    <td>
                                        <%= transaction.to %>
                                    </td>
                                    <td>
                                        <%= transaction.orderID.depotId %>
                                    </td>
                                    <td>
                                        <%= transaction.transactionHash %>
                                    </td>
                                    <td>
                                        <%= transaction.transaction %>
                                    </td>
                                    <td>
                                        <%= moment(transaction.createdAt).format('hh:mmA') %>
                                    </td> 
                                    <td>
                                        <%= moment(transaction.createdAt).format('DD:MM:YYYY') %>
                                    </td>  
                                </tr>
                            <% }) %>
                            
                        <% } else { %>
                            <tr>
                                <td class="p-4">No transactions found</td>
                            </tr>
                        <% } %>
                       
                    </tbody>
                </table>
            </div>

        
        </div>
    </div>
</div>
<%- include('../_layouts/sidebar.ejs') %>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>