<%- include('../_layouts/header3.ejs') %>
<%- include('../toast.ejs') %>

<section class="tutorials">
<div class="containerHomeMan">
<%- include('../_layouts/head.ejs') %>
<div class="accountsCon">
    
<div id="site-main">
        <div class="ml-5 container4">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/manufacturer/orders" class="border-shadow">
                        <i class="fas fa-angle-double-left"></i> <span class="text-gradient">Orders Page</span>
                    </a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-2xl font-bold text-dark">Update Production ID</h2>
            </div>
             <!-- form handling -->
             
             <form id="update_orders" class="py-8" method="POST">
                        <div class="form-group">
                            <label for="proId" class="text-light">Order Production ID</label>
                            <input type="hidden" name="id" value="<%= order._id %>">
                            <input type="text" name="proId" value="<%= order.proId %>">
                        </div>
                        

                     <div class="form-group">
                         <button type="submit" class="btn update">Save</button>
                     </div>
             </form>
        </div>
</div>
</div>
<%- include('../_layouts/sidebar.ejs') %>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
