<%- include('../../_layouts/header.ejs') %>
<%- include('../../toast.ejs') %>
<section  class="orders light-section">
    <div class="container mx-auto pt-12">
        <div class="flex items-center justify-between mb-5">
            <h1 class="font-bold text-lg">Search Results of Pharmacist's Transaction</h1>
            <a href="/pharmacist/check/blockchain"><h6 class="bg-white py-1 rounded-full px-4 text-green-700 text-l">Back to Search Page</h6></a>
        </div>
        <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
            <div class="bg-gray-300 md:flex">
                <div class="w-full p-3">
                    <h3 class="font-bold text-lg mb-2">Give Order ID Here</h3>
                    <form action="/pharmacist/check/blockchain" method="POST">
                    <div class="relative"> <i class="absolute fa fa-search text-gray-400 top-5 left-4"></i> <input id="orderID" type="text" class="bg-white h-14 w-full px-12 rounded-lg focus:outline-none hover:cursor-pointer" name="orderID"> <span class="absolute top-4 right-5 border-l pl-4"><i class="fa fa-microphone text-gray-500 hover:text-green-500 hover:cursor-pointer"></i></span> </div>
                </form>
                </div>
            </div>
        </div>

    <section class="transactionTable mt-10">
        <table class="customerT mx-auto table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-center">From Address</th>
                    <th class="px-4 py-2 text-center">To Address</th>
                    <th class="px-4 py-2 text-center">Block Number</th>
                    <th class="px-4 py-2 text-center">Gas Used</th>
                    <th class="px-4 py-2 text-center">Block Hash</th>
                    <th class="px-4 py-2 text-center">Transaction Hash</th>
                    <th class="px-4 py-2 text-center">Order Status</th>
                    <th class="px-4 py-2 text-center">Blockchain Status</th>
                    <th class="px-4 py-2 text-center">Time</th>
                    <th class="px-4 py-2 text-center">Date</th>
                </tr>
               
            </thead>
            <tbody>
                <% data.forEach((data)=>{ %>
                    <% data2.forEach((data2)=>{ %>
                        <% data3.forEach((data3)=>{ %>
                <tr>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.from %></p>
                        <div><%= data2.from %></div>
                        <div><%= data3.from %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.to %></p>
                        <div><%= data2.to %></div>
                        <div><%= data3.to %></div>
                    </td>
                    <td class="border px-4 py-2 text-green-900">
                        <p><%= data.blockNumber %></p>
                        <div><%= data2.blockNumber %></div>
                        <div><%= data3.blockNumber %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.cumulativeGasUsed %></p>
                        <div><%= data2.cumulativeGasUsed %></div>
                        <div><%= data3.cumulativeGasUsed %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.blockHash %></p>
                        <div><%= data2.blockHash %></div>
                        <div><%= data3.blockHash %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.transactionHash %></p>
                        <div><%= data2.transactionHash %></div>
                        <div><%= data3.transactionHash %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.orderstatus %></p>
                        <div><%= data2.orderstatus %></div>
                        <div><%= data3.transaction %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= data.status %></p>
                        <div><%= data2.status %></div>
                        <div><%= data3.status %></div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= moment(data.createdAt).format('hh:mmA') %></p>
                        <div><%= moment(data2.createdAt).format('hh:mmA') %></div>
                       <div><%= moment(data3.createdAt).format('hh:mmA') %></div>   
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <p><%= moment(data.createdAt).format('DD:MM:YYYY') %></p>
                        <div><%= moment(data2.createdAt).format('DD:MM:YYYY') %></div>
                       <div><%= moment(data3.createdAt).format('DD:MM:YYYY') %></div>   
                    </td>
                </tr>
                     <% }) %>
                   <% }) %>
                <% }) %>
            
        </tbody>
</table>
</section>


</div>

</section>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>