<%- include('../../_layouts/header3.ejs') %>
<%- include('../../toast.ejs') %>

<section class="tutorials">
    <div class="containerHomeMan">
    <%- include('../../_layouts/head.ejs') %>
    <div class="accountsCon">
        <div>
            <img style="align-items: center; margin-top: auto;" height="500px" width="500px" src=<%= src %> alt="">
        </div>
    </div>
    <%- include('../../_layouts/sidebar.ejs') %>
    </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>