
<% for(var i = 0; i < users.length; i++) { %>
    
<tr>
    <td><img style="border-radius: 5px; height:70px; width: 55px;" src="/img/<%= users[i].image %>" alt=""></td>
    <td><%= i + 1  %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].role %></td>
    <td><%= users[i].address %></td>
    <td><%= users[i].phone %></td>
    <td><%= users[i].accountAddress %></td>
    <td><a href="/manufacturer/update_user?id=<%= users[i]._id %>" class="btn border-shadow update">
     <span class="text-gradient"><i class="fas fa-user-edit"></i></span>
     </a>
     <a class="btn border-shadow delete" data-id=<%= users[i]._id %> >
         <span class="text-gradient"><i class="fas fa-times"></i></span>
     </a></td>
</tr>
   
<% } %>


 