

<%- include('../_layouts/header.ejs') %>
<%- include('../toast.ejs') %>
<section>
    <div class="container mx-auto pt-12">
        <div class="flex items-center justify-between mb-10">
            <h1 class="font-bold text-lg">Your Transactions</h1>
            <a href="/transaction/pharmacist"><h6 class="bg-white py-1 rounded-full px-4 text-green-700 text-l">Show Pharmacist Transactions</h6></a>
        </div>
        <section class="transactionTable">
            <table class="customerT mx-auto table-auto bg-white">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Transaction Hash</th>
                        <th class="px-4 py-2 text-left">Block Hash</th>
                        <th class="px-4 py-2 text-left">Order ID</th>
                        <th class="px-4 py-2 text-left">Order Status</th>
                        <th class="px-4 py-2 text-left">DAR</th>
                        <th class="px-4 py-2 text-left">Order Role</th>
                        <th class="px-4 py-2 text-left"> Block Number</th>
                        <th class="px-4 py-2 text-left"> Gas Used</th>
                        <th class="px-4 py-2 text-left"> From</th>
                        <th class="px-4 py-2 text-left"> Type</th>
                        <th class="px-4 py-2 text-left"> Time</th>
                        <th class="px-4 py-2 text-left"> Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(transactions.length) { %>
                        <% transactions.forEach((transaction)=>{ %>
                            <% if(user._id.equals(transaction.depotId)) { %>
                            <tr>
                                <td class="border px-4 py-2">
                                  <%= transaction.transactionHash %>
                               </td>
                               <td class="border px-4 py-2">
                                <%= transaction.blockHash %>
                             </td>
                               <td class="border px-4 py-2">
                                <%= transaction.orderID._id %>
                             </td>
                             <td class="border px-4 py-2">
                                <%= transaction.orderID.status %>
                             </td>
                             <td class="border px-4 py-2">
                                <%= transaction.orderID.dar %>
                             </td>
                             <td class="border px-4 py-2">
                                <%= transaction.orderID.role %>
                             </td>
                               <td class="border px-4 py-2">
                                <%= transaction.blockNumber %>
                               </td>
                                <td class="border px-4 py-2">
                                    <%= transaction.gasUsed %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= transaction.from %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= transaction.transaction %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= moment(transaction.createdAt).format('hh:mm A') %>
                                </td>  
                                <td class="border px-4 py-2">
                                    <%= moment(transaction.createdAt).format('MMMM Do YYYY') %>
                                </td>  
                            </tr>
                        <%}  %>
                           
                        <% }) %>
                        
                    <% } else { %>
                        <tr>
                            <td class="p-4">No transactions found</td>
                        </tr>
                    <% } %>
                   
                </tbody>
            </table>
        </section>
    </div>

</section>



<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js" type="text/javascript" charset="utf-8"></script>