

<% for(var i = 0; i < drugstorage.length; i++) { %>
    <tr> 
        <td><%= i + 1  %></td>
        <td><img class="rounded-full" src="<%= drugstorage[i].drugId.image %>" height="40px" width="40px" alt=""></td>
        <td><%= drugstorage[i].drugId._id %></td>
        <td><%= drugstorage[i]._id %></td>
        <td><%= drugstorage[i].drugId.categoryName %></td>
        <td><%= drugstorage[i].drugId.drugName %></td>
        <td><%= drugstorage[i].productionID %></td>
        <td><%= drugstorage[i].batchNum %></td>
        <td><%= drugstorage[i].darNum %></td>
        <td><%= drugstorage[i].production %></td>
        <td><a href="/manufacturer/update_drugstorage?id=<%= drugstorage[i]._id %>" class="btn border-shadow update">
         <span class="text-gradient"><i class="fas fa-user-edit"></i></span>
         </a>
         <a class="btn border-shadow delete" data-id3="<%= drugstorage[i]._id %>">
             <span class="text-gradient"><i class="fas fa-times"></i></span>
         </a></td>
    </tr>
    <% } %>
    
    