<%- include('../../_layouts/header3.ejs') %>
<%- include('../../toast.ejs') %>

<section class="tutorials">
<div class="containerHomeMan">
<%- include('../../_layouts/head.ejs') %>
<div class="accountsCon">
    <div id="header2">
        <nav>
            <div class="container3 text-3xl font-bold">
                <div class="text-center">
                    <a href="/manufacturer/accounts" class="nav-brand text-dark">User Control Panel</a>
                </div>
            </div>
        </nav>
    </div>
<div class="transactionTable mr-5">
    <div id="site-main">
        <div class="ml-5 container4">
            <div class="box-nav d-flex justify-between">
                <a href="/manufacturer/add_user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
            </div>
    
            <!-- form handling -->
            <form class="py-8" action="/admin/accounts" method="POST">
                <table class="table addUser accounts">
                    <thead class="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Role</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Accounts</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                      <%- include('../includePart/tbody.ejs') %>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</div>
<%- include('../../_layouts/sidebar.ejs') %>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>